* {
    font-family: "Faculty Glyphic", sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.navbar {
    background-color: #252525;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

.logo {
    max-width: 90px;
    max-height: 90px;
    width: auto;
    height: auto;
    padding-right: 690px;
    padding-left: 20px;
}

.navbar-item {
    position: relative;
    list-style: none;
    font-family: "Pirata One", system-ui;
    font-size: 18px;
}

.navbar-item>a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    transition: 0.3s ease;
}

.navbar-item>a:hover {
    background-color: #8E007E;
    border-radius: 6px;
}

/* dropdown oculto por padrão */
.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #252525;
    min-width: 180px;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, max-height 0.4s ease;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 8px 8px;
    z-index: 100;
}

.dropdown a {
    color: #f9f9f9;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 16px;
    display: block;
    transition: 0.3s ease;
}

.dropdown a:hover {
    background-color: #8E007E;
}

/* exibe dropdown ao passar o mouse */
.navbar-item:hover .dropdown {
    opacity: 1;
    max-height: 500px;
}

.products-section {
    display: flex;
    flex-wrap: wrap;
}

.products-title {
    font-family: "Pirata One", system-ui;
    font-size: 65px;
    font-weight: 400;
    position: relative;
    z-index: 2;
}

.type-instruments {
    position: relative;
    background-image: url(./../IMAGENS/MAIN-INSTRUMENTS.webp);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 250px;
}

.type-instruments::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffff44;
    z-index: 1;
}

.type-style {
    position: relative;
    background-image: url(./../IMAGENS/MAIN-STYLE.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 250px;
}

.type-style::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffff31;
    z-index: 1;
}

.product-vitrine {
    background-image: url(./../IMAGENS/MAIN-VITRINE.jpg);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 colunas iguais */
    gap: 20px;
    /* espaçamento entre os itens */
    padding: 40px;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    background-color: #252525;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    transition: 0.3s ease;
}

.product:hover {
    box-shadow: 0 4px 4px #f9f9f9;
}

.product-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product-name {
    font-weight: bold;
    color: #f9f9f9;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 8px;
    font-family: "Pirata One", system-ui;
}

.product-description {
    font-size: 14px;
    color: #f9f9f9;
    margin-bottom: 10px;
}

.product-price {
    font-size: 25px;
    color: #ffffff;
    font-weight: bold;
}

/* INÍCIO DO FOOTER */

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #252525;
    padding: 10px;
}

.logo-footer {
    max-width: 120px;
    max-height: 120px;
    width: auto;
    height: auto;
    padding-right: 15px;
}

.socialmedia {
    font-family: "Pirata One", system-ui;
    font-size: 25px;
    color: #f9f9f9;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 8px;
    padding-bottom: 20px;
    padding-left: 15px;
}

.socialmedia-icons {
    display: flex;
    gap: 5px;
}

.socialmedia-logo {
    max-width: 40px;
    max-height: 40px;
    width: auto;
    height: auto;
    padding: 5px;
}

.signature {
    font-size: 15px;
    color: #f9f9f9;
}